=begin
#Credit Card API v1

#Credit Card API for authorizing and charging credit cards.

OpenAPI spec version: 1

Generated by: https://github.com/swagger-api/swagger-codegen.git
Swagger Codegen version: 2.4.0

=end

require 'uri'

module CreditCardRestClient
  class ChargeApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Charges a credit card
    # Performs authorization and capture on a card for the given positive amount
    # @param [Hash] opts the optional parameters
    # @option opts [ChargeDetails] :details 
    # @return [ChargeResult]
    def charge_card(opts = {})
      data, _status_code, _headers = charge_card_with_http_info(opts)
      data
    end

    # Charges a credit card
    # Performs authorization and capture on a card for the given positive amount
    # @param [Hash] opts the optional parameters
    # @option opts [ChargeDetails] :details 
    # @return [Array<(ChargeResult, Fixnum, Hash)>] ChargeResult data, response status code and response headers
    def charge_card_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ChargeApi.charge_card ...'
      end
      # resource path
      local_var_path = '/api/creditcard/v1/charge'

      # query parameters
      query_params = {}

      # header parameters
      header_params = {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json'])
      # HTTP header 'Content-Type'
      header_params['Content-Type'] = @api_client.select_header_content_type(['application/json'])

      # form parameters
      form_params = {}

      # http body (model)
      post_body = @api_client.object_to_http_body(opts[:'details'])
      auth_names = ['basic']
      data, status_code, headers = @api_client.call_api(:POST, local_var_path,
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => 'ChargeResult')
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ChargeApi#charge_card\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
